<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="50"
    alt="Angular Logo"
    src="/assets/images/icone-barra-superior.png"
  />

  <a [routerLink]="['/principal']" queryParamsHandling="preserve" style="color: white; margin-right: 15px;">Principal</a>
  <a [routerLink]="['/pessoa/listagem']" queryParamsHandling="preserve" style="color: white; margin-right: 15px;">Pessoas</a>
  <a *ngIf="this.tipoPerfilEhAdmin" [routerLink]="['/usuario/listagem']" queryParamsHandling="preserve" style="color: white; margin-right: 15px;">Usuários</a>

    <div class="spacer"></div>

  <a [routerLink]="[]" queryParamsHandling="preserve" style="color: white; margin-right: 15px;" (click)="this.logout()">Logout</a>
  <a [routerLink]="[]" queryParamsHandling="preserve" style="color: white; margin-right: 15px;" (click)="this.editarPerfilUsuario()">Editar perfil</a>
</div>

<div style="margin-top: 100px;">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
